  <div class="login_sidenav">
    <div class="logo_wrapper">
      <img src="assets/Images/logo.png" class="logo_img">
    </div>
  </div>
  
  <div class="login_main">
    <div class="col-md-12 col-sm-12">
      <div class="login-form">
        <p>Sign In</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Login Id</label>
            <input type="text" class="form-control" formControlName="loginId" id="loginId" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }" placeholder="">
            <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
              <div *ngIf="f.loginId.errors.required">LoginId is required</div>
            </div>
          </div>

          <div class="form-group has-icon pos-rel">
            <label>Password</label>
            <input [type]="showbutton ? 'text' : 'password'" class="form-control" formControlName="password" id="pwd"
              autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="21" placeholder="*******">
            <i [class]="showeye ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="showPassword()"></i>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <p class="alert alert-danger" *ngIf="loginForm.controls['password'].hasError('maxlength')">
              Password should be less than 20 charachters only
            </p>
          </div>
            
          <p class="error mb-1 text-danger" *ngIf="invalidLogin">Invalid Username/Password</p>

          <div class="text-right">
            <div class="form-group">
              <button [disabled]="loading" class="btn theme-btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Login
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="m-t-20 text-center"><br>
        <p class="forgot_pass_text"><a href="#">Forgot Password?</a></p>
      </div>

    </div>
  </div>

