.sidenav {
    height: 100%;
    background-color: #5951ff;
  }
  
  .main {
    padding: 0px 10px;
  }
  
  .btn-black {
    background-color: #5951ff !important;
    color: #fff;
  }
  
  .btn-black:focus {
    box-shadow: none;
  }
  
  .btn-black:hover {
    background-color: #3a53a5 !important;
    color: #fff;
  }
  
  .login-form {
    box-shadow: 0px 0px 10px 2px #e5e4ff;
    padding: 20px;
    background-color: #fff;
  }
  
  .form-control {
    height: 3em !important;
    box-shadow: none;
  }
  
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #5951ff !important;
  }
  
  /* .signup_text {} */
  
  .signup_text a {
    color: #5951ff;
    text-decoration: none;
  }
  
  .signup_text a:hover {
    color: #e55300
  }
  
  .forgot_pass_text a {
    color: #000;
    text-decoration: none;
  }
  
  .forgot_pass_text a:hover {
    color: #e55300
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .login-form {
      margin-top: 10%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .sidenav {
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
    }
  
    .logo_wrapper {
      position: absolute;
      width: 100%;
      top: 45%;
      text-align: center;
    }
  
    .main {
      margin-left: 50%;
    }
  
    .login-form {
      margin-top: 30%;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  
  @media(max-width: 767px) {
    .login-form {
      margin-top: 40%;
      width: 100%;
    }
  }
  
  @media(max-width:1400px) {
    .login-form {
      margin-top: 20%;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  